################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vs

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Build results

artifacts/
[Dd]ebug/
[Rr]elease/
x64/
x86/ !eng/common/cross/x86/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
msbuild.binlog